<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="uap10">

	<Identity
	  Name="2c523c88-8855-4e16-b79d-cf4ea320b64e"
	  Publisher="CN=jithu"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>BlendHub</DisplayName>
		<PublisherDisplayName>Jishnu</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application
		  Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Windows.FullTrustApplication" uap10:RuntimeBehavior="packagedClassicApp" uap10:TrustLevel="mediumIL">

			<uap:VisualElements
			  DisplayName="BlendHub"
			  Description="BlendHub"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">

				<uap:DefaultTile
				  Wide310x150Logo="Assets\Wide310x150Logo.png" />

				<uap:SplashScreen
				  Image="Assets\SplashScreen.png" />

			</uap:VisualElements>
		</Application>
	</Applications>
</Package>